.typeahead-container {
  position: relative;
  width: 300px;
}
input[type='text'] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.suggestions-list {
  position: absolute;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}
.suggestions-list li:hover {
  background-color: #f0f0f0;
}